.menu-btn {
  position: absolute;
  right: 0;
  height: 20px;
  width: 28px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  @media screen and(min-width: 1025px){
    display: none;
  }

  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: $color-pallete-1;
    @include transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: $color-pallete-1;
      @include transition-ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background: $color-pallete-1;
      @include transition-ease;
    }

    &__open {
      transform: rotate(360deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
}
